* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

main {
    min-width: 320px;
}

.botoes {
    border: 0px solid black;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: min-content;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    border: 1px solid black;
    width: 100vw;
    height: 6vh;
    padding: 1vh 1vw;
    background-color: rgb(230, 230, 230);
}

footer {
    color: white;
    background-color: rgb(62, 62, 62);
    border: 1px solid black;
    height: min-content;
    display: flex;
    justify-content: center;
    gap: 1vw;
    height: min-content;
}

#madeby {
    color: rgb(114, 114, 114);
    text-decoration: underline;
}

.lista {
    width: 30vw;
}

.icones-redes-sociais {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    width: 30vw;
}



.copy {
    text-align: right;
    font-size: 1rem;
    color: grey;
    width: 30vw;
    padding: 8px;
}

#social-media {
    height: 40px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.icones {
    padding: 4px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    font-size: 0.8rem;
}
.icones:hover {
    background-color: rgb(214, 214, 214);    
    cursor: pointer;
}

nav>div {
    box-shadow: 1.5px 1.5px;
}

.selecao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    margin: 1vh;
    min-width: 320px;
    min-height: 60px;
    width: 40vw;
}

.selecao>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 0.75rem;
}

.selecao-opcoes {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 2px;
    margin: 0px 12px;
}



#home:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
}

#home {
    border-bottom: 5px solid grey;
    border-radius: 10% 0% 0% 10%;
}

#pokedex:hover{
    background-color: orangered;
    color: white;
    border: 0px;
    cursor: pointer;
    transition: 0.25s ease;
}

#pokedex {
    border-bottom: 5px solid orangered;
}

#video-game:hover{
    background-color: rgb(255, 140, 0);
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
}

#video-game {
    border-bottom: 5px solid rgb(255, 140, 0);
}

#trading-card:hover{
    background-color: orange;
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
}

#trading-card {
    border-bottom: 5px solid orange;
}

#pokemon-tv:hover{
    background-color: green;
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
}

#pokemon-tv {
    border-bottom: 5px solid green;
}

#pokemon-events:hover{
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
}

#pokemon-events {
    border-bottom: 5px solid dodgerblue;
}

#news:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: 0.25s ease;
}

#news {
    border-bottom: 5px solid blue;
    border-radius: 0% 10% 10% 0%;
}

.poke {
    display: flex;
    justify-content: center;
}

.poke>h2 {
    text-align: center;
    color: gray;
    width: 100vw;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    flex-direction: row;
    width: 70%;
    padding: 1vw;
    color: white;
}

#search-bar-position{
    display: flex;
    height: min-content;
}

#search-bar-position input{
    display: flex;
    height: 24px;
    max-width: 500px;
    width: 70%;
    margin-right: .5vw;
    border-radius: 15px 15px;
    padding: 4px 4px;
}

.menu {
    display: flex;
    background-color: rgb(64, 64, 64);
    justify-content: space-between;
    align-items: center;
    padding: 0vh 12vw;
}
#search{
    display: flex;
    align-items: center;
    background-color: green;
    color: white;
    border-radius: 5px 5px;
    width: 20vw;
    height: 100%;
    font-size: 1rem;
    padding: 1vw;
    margin: 1vh 1vw;
    text-align: center;
}

#search:hover {
    background-color: rgb(0, 76, 0);
    transition: 0.5s ease;    
}

#search-icon-img{
    border: 1px solid black;
    padding: 1px;
    background-color: yellow;
    border-radius: 5px 5px;
    width: 24px;
    height: 24px;
}
#search-icon-img:hover {
    cursor: pointer;
}

#text-search {
    font-size: 1rem;
}

.search-bar>img:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.search-bar>div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

main {
    background-color: rgb(223, 223, 223);
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1vh;
    column-gap: 1vw;
    padding: 1vh 24vw;
    background: linear-gradient(rgb(255, 98, 0), rgb(80, 80, 80));
}

.card>img {
    width: 100%;
    height: 100%;
}

.card>img:hover{  
    cursor: pointer;
}


.card {
    background-color: white;
    box-shadow: 2px 2px black;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
    width: 185px;
    height: 270px;
}

.card>p {
    color: grey;
}

.atributos {
    border: 0px solid red;
    margin: 8px;
}

.atributos>p {
    font-size: 1rem;
}
.atributos>div {
    display: flex;
    justify-content: flex-start;
    gap: 16px
}

.foda {
    background-color: firebrick;
    color: white;
    border-radius: 4px 4px;
    padding: 2px;
}

.bagarai {
    background-color: aquamarine;
    color: black;
    border-radius: 4px 4px;
    padding: 2px;
}

.grass {
    background-color: rgb(155, 204, 80);
    color: black;
    border-radius: 4px 4px;
    padding: 2px;
}

.poison {
    background-color: rgb(185, 127, 201);
    color: white;
    border-radius: 4px 4px;
    padding: 2px;
}

.fire {
    background-color: rgb(253, 125, 36);
    color: white;
    border-radius: 4px 4px;
    padding: 2px;
}

.bug {
    background-color: hsl(88, 43%, 44%);
    color: white;
    border-radius: 4px 4px;
    padding: 2px;
}

.water {
    background-color: rgb(69, 146, 196);
    color: white;
    border-radius: 4px 4px;
    padding: 2px;
}

.flying {
    background: linear-gradient(to bottom, #3dc7ef 0%, #bdb9b8 100%);
    color: rgb(0, 0, 0);
    border-radius: 4px 4px;
    padding: 2px;
}

.dragon {
    background: linear-gradient(to bottom, #3dc7ef 0%, #ff3300 100%);
    color: rgb(255, 255, 255);
    border-radius: 4px 4px;
    padding: 2px;
}

.normal {
    background-color: gray;
    color: rgb(0, 0, 0);
    border-radius: 4px 4px;
    padding: 2px;
}

.poison {
    background-color: #b97fc9;
    color: #ffffff;
    border-radius: 4px 4px;
    padding: 2px;
}

.eletric {
    background-color: #eed535;
    color: #000000;
    border-radius: 4px 4px;
    padding: 2px;
}

.ground {
    background: linear-gradient(to bottom, #eed535 0%, #ab9842 100%);
    color: #000000;
    border-radius: 4px 4px;
    padding: 2px;
}

.atributos>div>p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 20px;
}

.flip-container {
    width: 185px;
	height: 270px;
    perspective: 1000px;
}

.flipper{
    position: relative;
    transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-container:active .flipper{
	transform: rotateY(180deg);
}

.front, .back{
	position: absolute;
    backface-visibility: hidden;
}

.back{
	transform: rotateY(180deg);
}

.grass-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;        
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #55ff00, #00d0ff);
    cursor: pointer;
}

.fire-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #fd7d24, #ff1100);
    cursor: pointer;
}

.water-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #4592c4, #00e5ff);
    cursor: pointer;
}

.bug-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #729f3f, #aaff00);
    cursor: pointer;
}

.flying-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #fd7d24, #ff1100);
    cursor: pointer;
}

.normal-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #535353, #cfcfcf);
    cursor: pointer;
}

.poison-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #c45fff, #27004d);
    cursor: pointer;
}

.eletric-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #ffffff, #ffdd00);
    cursor: pointer;
}

.ground-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border: 4px solid darkgray;
    background: linear-gradient(135deg, #eed535, #ab9842);
    cursor: pointer;
}


#logo-pokemon {
    width: 80%;
    height: 20%;
}

#special-flip {
    width: 277.5px;
    height: 405px;
}

#special-card {
    width: 277.5px;
    height: 405px;
}

.grass-special-back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid darkgray;
    width: 100%;
    height: 100%;
    background: linear-gradient(124deg, #22ff00, #0091ff);
    background-size: 1800% 1800%;
   
   -webkit-animation: rainbow 1s ease infinite;
   -z-animation: rainbow 1s ease infinite;
   -o-animation: rainbow 1s ease infinite;
     animation: rainbow 1s ease infinite;
}

.fire-special-back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid darkgray;
    width: 100%;
    height: 100%;
    background: linear-gradient(124deg, #ff0000, #ffea00);
    background-size: 1800% 1800%;
   
   -webkit-animation: rainbow 1s ease infinite;
   -z-animation: rainbow 1s ease infinite;
   -o-animation: rainbow 1s ease infinite;
    animation: rainbow 1s ease infinite;
}

.water-special-back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid darkgray;
    width: 100%;
    height: 100%;
    background: linear-gradient(124deg, #00d9ff, #005eff);
    background-size: 1800% 1800%;
   
   -webkit-animation: rainbow 1s ease infinite;
   -z-animation: rainbow 1s ease infinite;
   -o-animation: rainbow 1s ease infinite;
    animation: rainbow 1s ease infinite;
}

.bug-special-back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid darkgray;
    width: 100%;
    height: 100%;
    background: linear-gradient(124deg, #46ff46, #eeff00);
    background-size: 1800% 1800%;
   
   -webkit-animation: rainbow 1s ease infinite;
   -z-animation: rainbow 1s ease infinite;
   -o-animation: rainbow 1s ease infinite;
    animation: rainbow 1s ease infinite;
}

.electric-special-back {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid darkgray;
    width: 100%;
    height: 100%;
    background: linear-gradient(124deg, #e1ff00, #ffffff);
    background-size: 1800% 1800%;
   
   -webkit-animation: rainbow 1s ease infinite;
   -z-animation: rainbow 1s ease infinite;
   -o-animation: rainbow 1s ease infinite;
    animation: rainbow 1s ease infinite;
}
   
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@media screen and (max-width: 800px) {

    .search-bar {
        font-size: 0.5rem;
    }
    #search {
        font-size: 0.5rem;
    }

    #text-search {
        font-size: 0.5rem;
    }

    .icones {
        font-size: 0.5rem;
        min-height: 4vh;
        min-width: 6vw;
    }

    .selecao>a{
        width: 35px;
        height: 50px;
        font-size: 0.5rem;
    }

    footer {
        flex-direction: column;
    }

    .main-content {
        row-gap: 1vh;
        column-gap: 1vw;
    }

    .flip-container {
        width: 125px;
        height: 180px;
        perspective: 1000px;
    }

    .card {
        width: 125px;
        height: 180px;
    }

    #special-flip {
        width: 175px;
        height: 245px;
        perspective: 1000px;
    }

    #special-card {
        width: 175px;
        height: 245px;
    }

    .card p{
        font-size: 0.4rem;
    }

    .lista {
        width: 100%;
    }
    
    .icones-redes-sociais {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 4px;
    }

    .copy {
        width: 100%;
    }

    .search-bar>img {
        margin-top: 14px;
    }

    #search-bar-position input{
        height: 18px;
    }

    #search-icon-img {
        height: 18px;
        width: 18px;
    }
}